.form {
  display: grid;
  justify-items: center;
  gap: 48px;
  grid-template-columns: 1fr;

  width: 100%;

  @include vp-900 {
    gap: 37px;
  }

  &__inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 19px;

    width: 100%;

    @include vp-1023 {
      flex-direction: column;
    }
  }
}
